django>=6.0
djangorestframework
djangorestframework-simplejwt
djangorestframework-gis
django-filter
psycopg2-binary
daphne
channels[daphne]
channels-redis
celery[redis]
whitenoise
Pillow
gpxpy
requests
django-environ
